@charset "utf-8";

.inner {width: 100%; max-width: 1400px; margin: 0 auto; position: relative;}
.clearfix::after {content: ''; display: block; clear: both;}
.ab {background: none; border: none; box-shadow: none; border-radius: 0; padding: 0; overflow: visible; cursor: pointer;}
