@charset "utf-8";

/* 반응형 */

@media screen and (max-width:1600px) {
	/* 헤더 */
	.header {height: 6.2500vw;}
	.header .hd_nav > li + li {margin-left: 3.1250vw;}
	.header .hd_nav > li a {font-size: 1.2500vw;}

	/* 메인 */
	.main_wrap {margin-top: 6.2500vw;}
	.mid01 .title {border-bottom: 0.1250vw solid #608ABF; padding-bottom: 0.6250vw; margin-bottom: 1.2500vw;}
	.mid01 .title .icon {margin-right: 0.6250vw;}
	.mid01 .title .icon > span {font-size: 1.7500vw;}
	.mid01 .title > h3 {font-size: 1.5000vw;}

	/* 좌측 */
	.mid01 .left_atc {padding: 3.1250vw 3.1250vw 6.2500vw;}
	.mid01 .left_atc .left_1 .id_img .img_box {width: 18.1250vw; height: 26.8750vw;}
	.mid01 .left_atc .left_1 .name {margin: 1.8750vw 0.0000vw;}
	.mid01 .left_atc .left_1 .name > h1 {font-size: 2.5000vw;}
	.mid01 .left_atc .left_1 .age > h2 {font-size: 1.2500vw;}
	.mid01 .left_atc .left_2 {margin: 3.1250vw 0.0000vw;}
	.mid01 .left_atc .left_2 .info_ul > li + li {margin-top: 0.6250vw;}
	.mid01 .left_atc .left_2 .info_ul > li .icon {margin-right: 0.6250vw;}
	.mid01 .left_atc .left_2 .info_ul > li .icon > span {font-size: 1.1250vw;}
	.mid01 .left_atc .left_2 .info_ul > li > p {font-size: 0.8750vw;}
	.mid01 .left_atc .left_3 {margin-bottom: 3.1250vw;}
	.mid01 .left_atc .left_3 > p {font-size: 0.8750vw;}
	.mid01 .left_atc .left_4 .prize_ul > li + li {margin-top: 1.2500vw;}
	.mid01 .left_atc .left_4 .prize_ul > li .top .left > span {font-size: 1.2500vw;}
	.mid01 .left_atc .left_4 .prize_ul > li .top .left .certificate {font-size: 1.0000vw; margin-left: 0.3125vw;}
	.mid01 .left_atc .left_4 .prize_ul > li .top .right .date {font-size: 0.8750vw;}
	.mid01 .left_atc .left_4 .prize_ul > li .apparatus {font-size: 0.7500vw; margin: 0.3125vw 0.0000vw 0.0000vw 1.5625vw;}

	/* 우측 */
	.mid01 .right_atc {padding: 6.2500vw 0.0000vw 6.2500vw 3.1250vw;}
	.mid01 .right_atc .right_1 .school_ul > li {padding-left: 1.8750vw;}
	.mid01 .right_atc .right_1 .school_ul > li + li {margin-top: 1.2500vw;}
	.mid01 .right_atc .right_1 .school_ul > li::after {width: 0.1250vw; height: 4.0625vw; top: 0.3125vw; left: 0.2500vw;}
	.mid01 .right_atc .right_1 .school_ul > li::before {width: 0.6250vw; height: 0.6250vw; top: 0.3125vw;}
	.mid01 .right_atc .right_1 .school_ul > li .school_box1 > h4 {font-size: 1.0000vw;}
	.mid01 .right_atc .right_1 .school_ul > li .school_box1 > p {font-size: 0.8750vw;}
	.mid01 .right_atc .right_1 .school_ul > li .school_box2 {margin-top: 0.3125vw;}
	.mid01 .right_atc .right_1 .school_ul > li .school_box2 > p,
	.mid01 .right_atc .right_1 .school_ul > li .school_box2 > span {font-size: 0.8750vw;}
	.mid01 .right_atc .right_1 .school_ul > li .school_box2 > span {margin: 0.0000vw 0.3125vw;}
	.mid01 .right_atc .right_2 {margin: 6.2500vw 0.0000vw;}
	.mid01 .right_atc .right_2 .business_ul > li {padding-left: 1.8750vw;}
	.mid01 .right_atc .right_2 .business_ul > li + li {margin-top: 1.8750vw;}
	.mid01 .right_atc .right_2 .business_ul > li::after {width: 0.1250vw; height: 10.3125vw; top: 0.3125vw; left: 0.2500vw;}
	.mid01 .right_atc .right_2 .business_ul > li::before {width: 0.6250vw; height: 0.6250vw; top: 0.3125vw;}
	.mid01 .right_atc .right_2 .business_ul > li .business_box1 > h5 {font-size: 1.0000vw;}
	.mid01 .right_atc .right_2 .business_ul > li .business_box1 > p {font-size: 0.8750vw;}
	.mid01 .right_atc .right_2 .business_ul > li .business_box2 {margin: 0.3125vw 0.0000vw 0.6250vw 0.0000vw;}
	.mid01 .right_atc .right_2 .business_ul > li .business_box2 > p,
	.mid01 .right_atc .right_2 .business_ul > li .business_box2 > span {font-size: 0.8750vw;}
	.mid01 .right_atc .right_2 .business_ul > li .business_box2 > span { margin: 0.0000vw 0.3125vw;}
	.mid01 .right_atc .right_2 .business_ul > li > p {font-size: 0.8125vw;}
	.mid01 .right_atc .right_3 .education_ul > li + li {margin-top: 1.2500vw;}
	.mid01 .right_atc .right_3 .education_ul > li .education_box1 > h6 {font-size: 1.1250vw;}
	.mid01 .right_atc .right_3 .education_ul > li .education_box1 > p {font-size: 0.8750vw;}
	.mid01 .right_atc .right_3 .education_ul > li .location {margin: 0.3125vw 0.0000vw; font-size: 1.0000vw;}
	.mid01 .right_atc .right_3 .education_ul > li .activity {font-size: 0.8125vw;}

	.mid02 {padding-top: 6.2500vw;}
	.mid02_top {border-bottom: 0.1250vw solid #608ABF;}
	.mid02_top h4 {font-size: 5.0000vw; letter-spacing: -0.2500vw;}
	.mid02_box {padding: 6.2500vw 0;}
	.mid02 .about_ul > li .icon {margin-bottom: 1.2500vw; width: 15.0000vw; height: 15.0000vw;}
	.mid02 .about_ul > li .icon span {font-size: 3.7500vw;}
	.mid02 .about_ul > li .text p {font-size: 1.2500vw;}

	.mid03 {padding: 6.2500vw 0;}
	.mid03_top h5 {font-size: 5.0000vw; letter-spacing: -0.2500vw;}
	.mid03 .graph_ul > li + li {margin-top: 3.1250vw;}
	.mid03 .graph_ul > li .graph_tit {font-size: 1.2500vw; width: 8.1250vw;}
	.mid03 .graph_ul > li .graph_bar {width: 25.0000vw; height: 0.6250vw;  border-radius: 0.3125vw; margin-left: 2.1875vw;}
	.mid03 .graph_ul > li .graph_bar span {height: 0.6250vw; border-radius: 0.3125vw;}
	.mid03_list {margin-top: 6.2500vw;}
	.mid03_list > li {padding: 1.8750vw; border-radius: 1.5625vw;}
	.mid03_list > li:nth-child(-n+2) {margin-bottom: 1.8750vw;}
	.mid03_list > li h6 {font-size: 1.6250vw;}
	.mid03_list > li p {font-size: 1.1250vw; margin-top: 1.2500vw;}

	.mid04 {padding: 6.2500vw 0;}
	.mid04_list > li h6 {font-size: 1.2500vw;}
	.mid04_list > li .mid04_img {margin-bottom: 1.8750vw; padding-bottom: 1.8750vw; border-bottom: 0.1250vw solid #608ABF;}
	.mid04_list > li .mid04_img img {width: 16.2500vw; height: 22.5000vw;}
	.mid05 {padding: 6.2500vw 0;}
	.mid05 .mid05_ul1 > li {margin: 0.0000vw 0.6250vw 0.6250vw 0.0000vw;}
	.mid05 .mid05_ul1 > li .mid05_img {width: 12.5000vw; height: 12.5000vw;}
	.mid05 .mid05_ul2 > li {border-bottom: 0.1875vw solid #000; padding-bottom: 1.2500vw;}
	.mid05 .mid05_ul2 > li + li {margin-top: 3.1250vw;}
	.mid05 .mid05_ul2 > li > h3 {font-size: 1.3750vw;}
	.mid05 .mid05_ul2 > li > p {font-size: 1.0625vw; margin-top: 0.6250vw;}

	/* 푸터 */
	.footer {padding: 3.1250vw 0;}
	.footer h6 {font-size: 1.0000vw; margin-bottom: 1.2500vw;}
	.footer p {font-size: 1.0000vw;}

	/* TOP 버튼 */
	.top_btn {right: 3.1250vw; bottom: 3.1250vw; width: 3.1250vw; height: 3.1250vw; border: 0.4688vw solid #608ABF;}
	.top_btn span {font-size: 3.0000vw;}
	.top_btn:hover {border: 0.4688vw solid #7B7B7B;}
}

@media screen and (max-width:1400px) {
	.inner {padding: 0.0000vw 1.0714vw 0.0000vw 1.0714vw;}
}
