@charset "utf-8";

/* 헤더 */

.header {width: 100%; height: 100px; position: fixed; top: 0; left: 0; z-index: 200; transition: all 0.2s; background-color: #608ABF;}
.header.scroll {background-color: rgba(255, 255, 255, 0.8);}
.header > .inner {display: flex; align-items: center; justify-content: flex-end; height: 100%;}

.header .hd_nav {display: flex;}
.header .hd_nav > li {}
.header .hd_nav > li + li {margin-left: 50px;}
.header .hd_nav > li a {display: block; font-size: 20px; font-weight: 600; color: #fff; transition: all 0.2s; cursor: pointer;}
.header.scroll .hd_nav > li a {color: #608ABF;}

/* 메인 */

.main_wrap {margin-top: 100px;}
.br_mdn {display: none;}

.mid01 {width: 100%; background-color: #fff;}
.mid01 > .inner {display: flex;}
.mid01 .material-symbols-outlined {font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; display: block;}

.mid01 .title {display: flex; align-items: center; border-bottom: 2px solid #608ABF; padding-bottom: 10px; margin-bottom: 20px;}
.mid01 .title .icon {margin-right: 10px;}
.mid01 .title .icon > span {color: #666; font-size: 28px;}
.mid01 .title > h3 {color: #666; font-size: 24px;}

/* 좌측 */
.mid01 .left_atc {background-color: #f2f2f2; width: 35%; padding: 50px 50px 100px;}

.mid01 .left_atc .left_1 {text-align: center;}
.mid01 .left_atc .left_1 .id_img {}
.mid01 .left_atc .left_1 .id_img .img_box {width: 290px; height: 430px; border-radius: 50%; overflow: hidden; display: block; margin: 0 auto;}
.mid01 .left_atc .left_1 .id_img .img_box > img {width: 100%; height: 100%;}
.mid01 .left_atc .left_1 .name {margin: 30px 0px;}
.mid01 .left_atc .left_1 .name > h1 {font-size: 40px; color: #608ABF;}
.mid01 .left_atc .left_1 .age {}
.mid01 .left_atc .left_1 .age > h2 {font-weight: normal; font-size: 20px; color: #636466;}

.mid01 .left_atc .left_2 {margin: 50px 0px;}
.mid01 .left_atc .left_2 .info_ul {}
.mid01 .left_atc .left_2 .info_ul > li {display: flex; align-items: center;}
.mid01 .left_atc .left_2 .info_ul > li + li {margin-top: 10px;}
.mid01 .left_atc .left_2 .info_ul > li .icon {margin-right: 10px;}
.mid01 .left_atc .left_2 .info_ul > li .icon > span {color: #608ABF; font-size: 18px;}
.mid01 .left_atc .left_2 .info_ul > li > p {color: #404040; font-size: 14px;}

.mid01 .left_atc .left_3 {margin-bottom: 50px;}
.mid01 .left_atc .left_3 > p {color: #404040; font-size: 14px; line-height: 1.5;}

.mid01 .left_atc .left_4 {}
.mid01 .left_atc .left_4 .prize_ul {}
.mid01 .left_atc .left_4 .prize_ul > li {}
.mid01 .left_atc .left_4 .prize_ul > li + li {margin-top: 20px;}
.mid01 .left_atc .left_4 .prize_ul > li .top {display: flex; align-items: center; justify-content: space-between;}
.mid01 .left_atc .left_4 .prize_ul > li .top .left {display: flex; align-items: center;}
.mid01 .left_atc .left_4 .prize_ul > li .top .left > span {font-size: 20px; color: #608ABF;}
.mid01 .left_atc .left_4 .prize_ul > li .top .left .certificate {font-size: 16px; margin-left: 5px;}
.mid01 .left_atc .left_4 .prize_ul > li .top .right {}
.mid01 .left_atc .left_4 .prize_ul > li .top .right .date {font-size: 14px; color: #404040;}
.mid01 .left_atc .left_4 .prize_ul > li .apparatus {font-size: 12px; color: #666; margin: 5px 0px 0px 25px;}

/* 우측 */
.mid01 .right_atc {width: 65%; padding: 100px 0px 100px 50px;}
.mid01 .right_atc .right_1 {}
.mid01 .right_atc .right_1 .school_ul {}
.mid01 .right_atc .right_1 .school_ul > li {position: relative; padding-left: 30px;}
.mid01 .right_atc .right_1 .school_ul > li + li {margin-top: 20px;}
.mid01 .right_atc .right_1 .school_ul > li::after {content: ''; position: absolute; width: 2px; height: 65px; top: 5px; left: 4px; background-color: #608ABF;}
.mid01 .right_atc .right_1 .school_ul > li::before {content: ''; position: absolute; width: 10px; height: 10px; top: 5px; left: 0; background-color: #608ABF; border-radius: 50%;}
.mid01 .right_atc .right_1 .school_ul > li .school_box1 {display: flex; align-items: center; justify-content: space-between;}
.mid01 .right_atc .right_1 .school_ul > li .school_box1 > h4 {font-size: 16px; font-weight: normal;}
.mid01 .right_atc .right_1 .school_ul > li .school_box1 > p {font-size: 14px; color: #404040;}
.mid01 .right_atc .right_1 .school_ul > li .school_box1 > p > span {color: #fff;}
.mid01 .right_atc .right_1 .school_ul > li .school_box2 {display: flex; align-items: center; margin-top: 5px;}
.mid01 .right_atc .right_1 .school_ul > li .school_box2 > p,
.mid01 .right_atc .right_1 .school_ul > li .school_box2 > span {font-size: 14px; color: #666;}
.mid01 .right_atc .right_1 .school_ul > li .school_box2 > span {display: block; margin: 0px 5px;}
.mid01 .right_atc .right_1 .school_ul > li .school_box2 .lesson {}
.mid01 .right_atc .right_1 .school_ul > li .school_box2 .gyeonggi {}

.mid01 .right_atc .right_2 {margin: 100px 0px;}
.mid01 .right_atc .right_2 .business_ul {}
.mid01 .right_atc .right_2 .business_ul > li {position: relative; padding-left: 30px;}
.mid01 .right_atc .right_2 .business_ul > li + li {margin-top: 30px;}
.mid01 .right_atc .right_2 .business_ul > li::after {content: ''; position: absolute; width: 2px; height: 165px; top: 5px; left: 4px; background-color: #608ABF;}
.mid01 .right_atc .right_2 .business_ul > li::before {content: ''; position: absolute; width: 10px; height: 10px; top: 5px; left: 0; background-color: #608ABF; border-radius: 50%;}
.mid01 .right_atc .right_2 .business_ul > li .business_box1 {display: flex; align-items: center; justify-content: space-between;}
.mid01 .right_atc .right_2 .business_ul > li .business_box1 > h5 {font-size: 16px; font-weight: normal;}
.mid01 .right_atc .right_2 .business_ul > li .business_box1 > p {font-size: 14px; color: #404040;}
.mid01 .right_atc .right_2 .business_ul > li .business_box2 {display: flex; align-items: center; margin: 5px 0px 10px 0px;}
.mid01 .right_atc .right_2 .business_ul > li .business_box2 > p,
.mid01 .right_atc .right_2 .business_ul > li .business_box2 > span {font-size: 14px; color: #666;}
.mid01 .right_atc .right_2 .business_ul > li .business_box2 > span {display: block; margin: 0px 5px;}
.mid01 .right_atc .right_2 .business_ul > li .business_box2 .affiliation {}
.mid01 .right_atc .right_2 .business_ul > li .business_box2 .salary {}
.mid01 .right_atc .right_2 .business_ul > li > p {font-size: 13px; color: #333; line-height: 1.5;}

.mid01 .right_atc .right_3 {}
.mid01 .right_atc .right_3 .education_ul {}
.mid01 .right_atc .right_3 .education_ul > li {}
.mid01 .right_atc .right_3 .education_ul > li + li {margin-top: 20px;}
.mid01 .right_atc .right_3 .education_ul > li .education_box1 {display: flex; align-items: center; justify-content: space-between;}
.mid01 .right_atc .right_3 .education_ul > li .education_box1 > h6 {font-size: 18px; color: #608ABF;}
.mid01 .right_atc .right_3 .education_ul > li .education_box1 > p {font-size: 14px; color: #404040;}
.mid01 .right_atc .right_3 .education_ul > li .location {margin: 5px 0px; font-size: 16px;}
.mid01 .right_atc .right_3 .education_ul > li .activity {font-size: 13px; color: #333; line-height: 1.5;}

.mid02 {padding-top: 100px; background-color: #f2f2f2;}
.mid02_top {border-bottom: 2px solid #608ABF;}
.mid02_top h4 {font-size: 80px; font-weight: 800; letter-spacing: -4px; color: #608ABF; position: relative;}

.mid02_box {padding: 100px 0;}
.mid02 .about_ul {display: flex; justify-content: space-between;}
.mid02 .about_ul > li {width: 30%; text-align: center;}
.mid02 .about_ul > li .icon {margin-bottom: 20px; background-color: #FFF; border-radius: 50%; width: 240px; height: 240px; display: inline-flex; justify-content: center; align-items: center;}
.mid02 .about_ul > li .icon span {font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48; display: block; color: #608ABF; font-size: 60px;}
.mid02 .about_ul > li .text {}
.mid02 .about_ul > li .text p {font-size: 20px; font-weight: 500; line-height: 1.5;}

.mid03 {padding: 100px 0;}
.mid03_top {display: flex; justify-content: space-between; align-items: flex-end;}
.mid03_top h5 {font-size: 80px; font-weight: 800; letter-spacing: -4px;}
.mid03_top h5 span {color: #608ABF;}

.mid03 .graph_ul {}
.mid03 .graph_ul > li {display: flex; align-items: center;}
.mid03 .graph_ul > li + li {margin-top: 50px;}
.mid03 .graph_ul > li .graph_tit {font-size: 20px; font-weight: 600; width: 130px;}
.mid03 .graph_ul > li .graph_bar {width: 400px; height: 10px; background-color: #E0E0E0; border-radius: 5px; position: relative; margin-left: 35px; overflow: hidden;}
.mid03 .graph_ul > li .graph_bar span {display: block; height: 10px; border-radius: 5px; background-color: #608ABF; position: absolute; top: 0; left: 0;}

.mid03_list {margin-top: 100px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.mid03_list > li {width: 49%; padding: 30px; border-radius: 25px; background-color: #272727;}
.mid03_list > li:nth-child(-n+2) {margin-bottom: 30px;}
.mid03_list > li h6 {font-size: 26px; font-weight: 700; color: #FFF;}
.mid03_list > li p {font-size: 18px; line-height: 1.5; margin-top: 20px; color: #FFF;}

.mid04 {background-color: #F5F5F5; padding: 100px 0;}
.mid04_list {display: flex; justify-content: space-between;}
.mid04_list > li {text-align: center;}
.mid04_list > li h6 {font-size: 20px; font-weight: normal;}
.mid04_list > li .mid04_img {margin-bottom: 30px; padding-bottom: 30px; border-bottom: 2px solid #608ABF;}
.mid04_list > li .mid04_img img {width: 260px; height: 360px;}

.mid05 {padding: 100px 0;}
.mid05 > .inner {display: flex;}
.mid05_left {width: 50%;}

.mid05 .mid05_ul1 {display: flex; flex-wrap: wrap;}
.mid05 .mid05_ul1 > li {margin: 0px 10px 10px 0px;}
.mid05 .mid05_ul1 > li .mid05_img {width: 200px; height: 200px; overflow: hidden; display: block;}
.mid05 .mid05_ul1 > li .mid05_img img {width: 100%; height: 100%;}

.mid05_right {width: 50%;}
.mid05 .mid05_ul2 {}
.mid05 .mid05_ul2 > li {border-bottom: 3px solid #000; padding-bottom: 20px;}
.mid05 .mid05_ul2 > li + li {margin-top: 50px;}
.mid05 .mid05_ul2 > li > h3 {font-size: 22px; font-weight: 700;}
.mid05 .mid05_ul2 > li > h3 > span {color: #608ABF;}
.mid05 .mid05_ul2 > li > p {font-size: 17px; font-weight: 500; margin-top: 10px;}

/* 푸터 */

.footer {background-color: #272727; padding: 50px 0;}
.footer h6 {font-size: 16px; color: #fff; font-weight: 500; margin-bottom: 20px;}
.footer p {font-size: 16px; color: #969696; line-height: 1.8;}

/* TOP 버튼 */

.top_btn {position: fixed; right: 50px; bottom: 50px; z-index: 200; width: 50px; height: 50px; cursor: pointer; background-color: #fff; border: 7.5px solid #608ABF; border-radius: 50%; display: none; justify-content: center; align-items: center; transition: all 0.2s;}
.top_btn:hover {border: 7.5px solid #7B7B7B;}
.top_btn.show {display: flex;}
.top_btn span {display: block; font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48; color: #7B7B7B; transition: all 0.2s;}
.top_btn:hover span {color: #608ABF;}
